{
  "extends": "react-app",
  "globals": {
    "chrome": "readonly"
  },
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off"
  }
}
